<!--<div class="ticket ticket-1">
  
  <div class="date">
    <span class="day">31</span>
    <span class="month-and-time">OCT</br><span class="small">8PM</span></span>
  </div>

  <div class="artist">
    <span class="name">PETER TOSH</span>
    </br>
<span class="live small">LIVE</span>
  </div>

  <div class="location">
    <span>KINGSTON TOWN</span>
    </br>
    <span class="small"><span>NANCY'S PUB</span>
  </div>

  <div class="rip">
  </div>
  
  <div class="cta">
    <button class="buy" href="#">APP TRANSPORTE</button>
  </div>

</div>-->
<div class="ticket ticket-2">
  <div class="date">
    <span class="day"><%= mes.split("-",2)[0] %></span>
    <span class="month-and-time"><%= mes.split("-",2)[1] %></br><span class="small"><%= hora %></span></span>
  </div>

  <div class="artist">
    <span class="name"><%= title %></span>
    </br>
<span class="live small">SUSCRIPCIÓN</span>
  </div>

  <div class="location">
    <span>CÓDIGO</span>
    </br>
    <span class="small"><span><%= codigo %></span>
  </div>

  <div class="rip">
  </div>
  
  <div class="cta">
    <button class="buy" href="#">APP TRANSPORTE</button>
  </div>

</div>


<style scoped>
.ticket {
  font-family: sans-serif;

  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: #04030C;
  width: 700px;
  height: 300px;
  border-radius: 15px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
  display: block;
  margin: 10% auto auto auto;
  color: #fff;;
}

.date {
  margin: 15px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.date .day{
  font-size: 80px;
  float: left;
}

.date .month-and-time {
  float: left;
  margin: 15px 0 0 0;
  font-weight: bold;
}

.artist {
  font-size: 30px;
  margin: 10px 100px 0 40px;
  float: left;
  font-weight: bold;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.location {
  float: left;
  margin: 105px 0 0 78px;
  font-size: 30px;
  font-weight: bold;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.location::before {
  /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/QRCodeWikipedia.png');*/
  background-image: url('https://w7.pngwing.com/pngs/452/33/png-transparent-gold-textured-background-texture-gold-texture-gold-background-gold-thumbnail.png');
  background-size: 110px 110px;
  width: 110px; 
  height: 110px;
  content:"";
  display: inline-block;
  float: left;
  position: absolute;
  left: -160px;
  bottom: 5px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.rip {
  border-right: 8px dotted #ffffff;
  height: 300px;
  position: absolute;
  top: 5px;
  left: 530px;
}

.cta .buy {
  position: absolute;
  top: 135px;
  right: 15px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)); 
}

.small {
  font-weight: 200;
}

.ticket-1 {
    background-image: url(https://images.unsplash.com/photo-1483101974978-cf266fdf1139?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3289&q=80);
}

.ticket-2{
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

</style>